@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-SemiBold.woff2") format("woff2"), url("./fonts/Montserrat-SemiBold.woff") format("woff"), url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-Bold.woff2") format("woff2"), url("./fonts/Montserrat-Bold.woff") format("woff"), url("./fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-Regular.woff2") format("woff2"), url("./fonts/Montserrat-Regular.woff") format("woff"), url(".fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-Medium.woff2") format("woff2"), url("./fonts/Montserrat-Medium.woff") format("woff"), url("./fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
  color: #B9B9B9;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1220px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
}

html body {
  margin: 0 auto;
  background-color: #141922;
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
html p {
  margin: 0;
}

html a {
  text-decoration: none;
  color: white;
}

html ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html .container {
  max-width: 1170px;
  margin: 0 auto;
}

@media screen and (max-width: 1220px) {
  html .container {
    max-width: 90%;
  }
}

.btn {
  text-transform: uppercase;
  font-size: 0.928rem;
  background-color: #E03435;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
  font-weight: 500;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:hover {
  border: 2px solid #ee0033;
  background-color: #141922;
  color: #E03435;
}

.title {
  font-size: 2.14rem;
  font-weight: 500;
  text-align: center;
  color: #FAFAFA;
}

.header {
  margin: 0 auto;
  padding: 21px 0 15px 0;
}

@media screen and (max-width: 900px) {
  .header {
    width: 90%;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .header-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 900px) {
  .header-logo {
    width: 30%;
    text-align: center;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 600px) {
  .header-logo {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .header-logo img {
    width: 70px;
  }
}

@media screen and (max-width: 900px) {
  .header-nav {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .header-nav {
    width: 100%;
    margin-bottom: 15px;
  }
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 900px) {
  .header-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 600px) {
  .header-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header-nav-item {
  position: relative;
  margin-right: 29px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .header-nav-item {
    margin-right: 15px;
  }
}

.header-nav-item:hover .header-nav-line {
  width: 60%;
}

.header-nav-line {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -6px;
  width: 0;
  height: 3px;
  background-color: #E03435;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .header-information {
    margin: 0 auto;
  }
}

.header-information-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-sing {
  margin-right: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .header-sing {
    margin-right: 15px;
  }
}

.header-sing-btn {
  border: 1px solid #E03435;
  background-color: #141922;
  border-radius: 2px;
  color: #E03435;
  padding: 11px 37px;
  margin-right: 12px;
}

@media screen and (max-width: 1200px) {
  .header-sing-btn {
    padding: 8px 30px;
  }
}

@media screen and (max-width: 900px) {
  .header-sing-btn {
    padding: 6px 25px;
  }
}

.header-sing-btn:hover {
  background-color: #FAFAFA;
}

.header-sing-up-btn {
  background-color: #141922;
  color: #FAFAFA;
  text-transform: none;
}

.header-sing-up-btn:hover {
  color: #E03435;
}

.header-languages {
  width: 54px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-languages a:hover {
  color: #E03435;
}

@media screen and (max-width: 900px) {
  .hero {
    padding-top: 10px;
  }
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 900px) {
  .hero-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

.hero-information {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 50%;
}

@media screen and (max-width: 900px) {
  .hero-information {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .hero-information {
    width: 300px;
  }
}

.hero-information-title {
  margin-bottom: 27px;
}

@media screen and (max-width: 600px) {
  .hero-information-title {
    margin-bottom: 18px;
  }
}

.hero-information-header {
  text-transform: uppercase;
  font-size: 2.14rem;
  font-weight: 700;
  color: #FAFAFA;
}

@media screen and (max-width: 900px) {
  .hero-information-header {
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 600px) {
  .hero-information-header {
    font-size: 1.25rem;
  }
}

.hero-information-text {
  font-size: 1.28rem;
  color: #B9B9B9;
  margin-bottom: 53px;
}

@media screen and (max-width: 900px) {
  .hero-information-text {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  .hero-information-text {
    width: 161px;
    font-size: 1.083rem;
    margin: 0 auto 25px;
  }
}

.hero-btn {
  font-size: 1rem;
  max-width: 339px;
  height: 70px;
  width: 100%;
  margin-bottom: 66px;
}

@media screen and (max-width: 900px) {
  .hero-btn {
    margin-bottom: 50px;
    height: 55px;
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .hero-btn {
    width: 257px;
    height: 40px;
    margin-bottom: 0;
  }
}

.hero-video {
  max-width: 277px;
  min-height: 182px;
}

@media screen and (max-width: 600px) {
  .hero-video {
    display: none;
  }
}

.hero-img {
  height: 605px;
  position: relative;
  background: url(../images/hero_img.png) center bottom no-repeat;
  background-size: 41%;
  width: 50%;
  margin-bottom: 5px;
}

@media screen and (max-width: 1200px) {
  .hero-img {
    height: 500px;
    background-position-y: 240px;
    background-size: 28%;
  }
}

@media screen and (max-width: 900px) {
  .hero-img {
    margin: 0 auto;
    width: 65%;
  }
}

@media screen and (max-width: 600px) {
  .hero-img {
    width: 300px;
    max-height: 360px;
    background: url(../images/hemo-img2.png) center bottom no-repeat;
  }
}

.hero-img-cont {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
}

@media screen and (max-width: 1200px) {
  .hero-img-cont {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.hero-img-text {
  text-align: center;
  font-size: 1.43rem;
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .hero-img-text {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .hero-img-text {
    font-size: 1rem;
  }
}

.hero-img-cont1 {
  background-image: url(../images/hero_img_1.svg);
  max-width: 213px;
  height: 160px;
  top: 23%;
  left: -3%;
  padding-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .hero-img-cont1 {
    width: 180px;
    top: 26%;
  }
}

@media screen and (max-width: 900px) {
  .hero-img-cont1 {
    width: 146px;
    top: 30%;
  }
}

@media screen and (max-width: 600px) {
  .hero-img-cont1 {
    left: 0;
    top: 70px;
    width: 38%;
  }
}

.hero-img-cont1 p {
  max-width: 150px;
}

@media screen and (max-width: 600px) {
  .hero-img-cont1 p {
    width: 110px;
  }
}

.hero-img-cont2 {
  background-image: url(../images/hero_img_2.svg);
  max-width: 234px;
  height: 165px;
  top: 5%;
  right: 34%;
  padding-bottom: 12px;
}

@media screen and (max-width: 1200px) {
  .hero-img-cont2 {
    width: 190px;
    top: 6%;
    right: 34%;
  }
}

@media screen and (max-width: 900px) {
  .hero-img-cont2 {
    width: 150px;
    top: 10%;
  }
}

@media screen and (max-width: 600px) {
  .hero-img-cont2 {
    top: -5px;
    left: 50px;
    width: 45%;
  }
}

.hero-img-cont3 {
  background-image: url(../images/hero_img_3.svg);
  max-width: 153px;
  height: 183px;
  right: 4.5%;
  top: 7%;
  padding-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .hero-img-cont3 {
    width: 120px;
    right: 0;
    top: 13%;
  }
}

@media screen and (max-width: 900px) {
  .hero-img-cont3 {
    width: 110px;
    right: -5%;
  }
}

@media screen and (max-width: 600px) {
  .hero-img-cont3 {
    right: 30px;
    top: 20px;
    width: 28%;
  }
}

.hero-img-cont4 {
  background-image: url(../images/hero_img_4.svg);
  max-width: 178px;
  height: 141px;
  right: 0;
  top: 45%;
  padding-bottom: 35px;
}

@media screen and (max-width: 1200px) {
  .hero-img-cont4 {
    width: 148px;
    top: 42%;
  }
}

@media screen and (max-width: 900px) {
  .hero-img-cont4 {
    width: 125px;
    right: -3%;
    top: 45%;
  }
}

@media screen and (max-width: 600px) {
  .hero-img-cont4 {
    width: 33%;
    top: 140px;
    right: 0;
    padding-bottom: 20px;
  }
}

.courses {
  padding-top: 60px;
}

@media screen and (max-width: 600px) {
  .courses {
    padding-top: 30px;
  }
}

.courses-container {
  width: 1173px;
}

.courses-title {
  margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .courses-title {
    margin-bottom: 20px;
    font-size: 1.25rem;
  }
}

.courses-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1200px) {
  .courses-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }
}

.courses-list-item {
  max-width: 325px;
  text-align: center;
  padding-top: 180px;
  width: 100%;
  margin-bottom: 32px;
}

.courses-list-item p {
  margin-bottom: 41px;
  font-size: 1.14rem;
  font-weight: 500;
  text-transform: uppercase;
}

.courses-img1 {
  background: url(../images/courses-img1.png) center top no-repeat;
}

.courses-img2 {
  background: url(../images/courses-img2.png) center top no-repeat;
}

.courses-img3 {
  background: url(../images/courses-img3.png) center top no-repeat;
}

.courses-img4 {
  background: url(../images/courses-img4.png) center top no-repeat;
}

.courses-btn {
  width: 100%;
  max-width: 194px;
  height: 50px;
}

.vebinar {
  padding: 72px 0 60px 0;
  margin: 0 auto;
}

.vebinar-title {
  margin-bottom: 45px;
}

@media screen and (max-width: 600px) {
  .vebinar-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}

.vebinar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vebinar-list-title {
  max-width: 333px;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 1.14rem;
  color: #FAFAFA;
}

@media screen and (max-width: 600px) {
  .vebinar-list-title {
    font-size: 1.25rem;
    width: 257px;
    margin: 0 auto 10px;
  }
}

.vebinar-list-title1 {
  display: none;
}

.vebinar-list-title2 {
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  .vebinar-list-title2 {
    visibility: visible;
    margin: 0 auto 10px;
    width: 257px;
    font-weight: 600;
    font-size: 1.25rem;
    color: #FAFAFA;
  }
}

.vebinar-list-item {
  position: relative;
  height: 245px;
  padding-left: 236px;
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: 46px;
}

@media screen and (max-width: 1220px) {
  .vebinar-list-item {
    width: 560px;
  }
}

@media screen and (max-width: 900px) {
  .vebinar-list-item {
    height: 230px;
  }
}

@media screen and (max-width: 600px) {
  .vebinar-list-item {
    width: 302px;
    height: 335px;
    border-radius: 3px;
    padding: 50px 0 0px;
    text-align: center;
    margin-bottom: 12px;
    background-size: cover;
  }
}

.vebinar-list-item-bgi1 {
  background-image: url(../images/vebinar-img1.png);
}

@media screen and (max-width: 600px) {
  .vebinar-list-item-bgi1 {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/vebinar-img1.png);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/vebinar-img1.png);
  }
}

.vebinar-list-item-bgi2 {
  background-image: url(../images/vebinar-img2.png);
}

@media screen and (max-width: 600px) {
  .vebinar-list-item-bgi2 {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/vebinar-img2.png);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/vebinar-img2.png);
  }
}

.vebinar-list-item-bgi3 {
  background-image: url(../images/vebinar-img3.png);
}

@media screen and (max-width: 600px) {
  .vebinar-list-item-bgi3 {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/vebinar-img3.png);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/vebinar-img3.png);
  }
}

.vebinar-list-item-bgi4 {
  background-image: url(../images/vebinar-img4.png);
}

@media screen and (max-width: 600px) {
  .vebinar-list-item-bgi4 {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/vebinar-img4.png);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/vebinar-img4.png);
  }
}

.vebinar-list-item-text {
  margin-bottom: 8px;
  color: #B9B9B9;
}

@media screen and (max-width: 600px) {
  .vebinar-list-item-text {
    margin-bottom: 15px;
  }
}

.vebinar-list-item-text span {
  font-weight: 600;
  border-bottom: #E03435 solid 2px;
}

@media screen and (max-width: 600px) {
  .vebinar-list-item-text span {
    font-size: 1.166rem;
  }
}

.vebinar-description {
  width: 330px;
  color: #B9B9B9;
  font-size: 0.928rem;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .vebinar-description {
    width: 257px;
    font-size: 1.166rem;
    font-weight: 400;
    margin: 0 auto 17px;
  }
}

.vebinar-date {
  position: absolute;
  bottom: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 220px;
  width: 100%;
  color: #FAFAFA;
  font-weight: 500;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .vebinar-date {
    position: inherit;
    margin: 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.vebinar-date-day {
  margin-bottom: 16px;
  position: relative;
  padding-left: 26px;
}

@media screen and (max-width: 600px) {
  .vebinar-date-day {
    font-size: 1.166rem;
    margin-bottom: 26px;
  }
}

.vebinar-date-day::before {
  position: absolute;
  content: "";
  background-image: url(../images/vebinar-date.svg);
  width: 19px;
  height: 18px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.vebinar-date-time {
  margin-bottom: 16px;
  position: relative;
  padding-left: 26px;
}

@media screen and (max-width: 600px) {
  .vebinar-date-time {
    font-size: 1.166rem;
    margin-bottom: 26px;
  }
}

.vebinar-date-time::before {
  position: absolute;
  content: "";
  background-image: url(../images/vebinar-time.svg);
  width: 18px;
  height: 19px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.vebinar-button {
  width: 220px;
  height: 60px;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .vebinar-button {
    width: 167px;
    height: 40px;
  }
}

.vebinar-additional {
  text-align: center;
  text-decoration: underline;
  color: #E03435;
  -webkit-text-decoration-color: #E03435;
          text-decoration-color: #E03435;
}

.about {
  padding-bottom: 50px;
}

.about-title {
  margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  .about-title {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .about-title {
    font-size: 1.5rem;
  }
}

.about-list {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-item {
  max-width: 505px;
  width: 100%;
  height: 143px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 145px;
  background-repeat: no-repeat;
  background-position: 60px;
}

@media screen and (max-width: 1200px) {
  .about-item {
    padding-left: 120px;
    background-position: 50px;
    background-size: 11%;
  }
}

@media screen and (max-width: 900px) {
  .about-item {
    height: 120px;
    padding-left: 70px;
    background-position: 20px;
  }
}

@media screen and (max-width: 600px) {
  .about-item {
    width: 300px;
    height: 96px;
    background-position: 12px;
    padding-left: 64px;
  }
}

.about-item-img1 {
  background-image: url(../images/1.png);
}

.about-item-img2 {
  background-image: url(../images/2.png);
}

.about-item-img3 {
  background-image: url(../images/3.png);
}

.about-item-img4 {
  background-image: url(../images/4.png);
}

.about-item-img5 {
  background-image: url(../images/5.png);
}

.about-item-img6 {
  background-image: url(../images/6.png);
}

@media screen and (max-width: 1200px) {
  .about-item:nth-child(odd) {
    border-bottom: 1px solid #7A0F0F;
  }
}

.about-item:nth-child(-n+4) {
  border-bottom: 1px solid #7A0F0F;
}

.about-item:nth-child(odd) {
  border-right: 1px solid #7A0F0F;
}

@media screen and (max-width: 1200px) {
  .about-item:nth-child(odd) {
    border-right: none;
  }
}

.sales {
  padding-bottom: 65px;
}

@media screen and (max-width: 600px) {
  .sales {
    padding-bottom: 30px;
  }
}

.sales-title {
  margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .sales-title {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.sales-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sales-list-item {
  padding-top: 183px;
  max-width: 574px;
  width: 100%;
  padding-left: 10px;
  background-size: calc(100%-20px);
  background-repeat: no-repeat;
  background-position: center 10px;
}

@media screen and (max-width: 900px) {
  .sales-list-item {
    background-size: 97%;
  }
}

@media screen and (max-width: 600px) {
  .sales-list-item {
    padding: 102px 3px 0 5px;
    max-width: 304px;
    background-position: center 5px;
  }
}

.sales-item-title {
  font-weight: 300;
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  .sales-item-title {
    font-size: 1.333rem;
    margin-bottom: 10px;
  }
}

.sales-item-title span {
  font-weight: 800;
}

.sales-item-text {
  color: #E03435;
  text-decoration: underline;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .sales-item-text {
    font-weight: 400;
  }
}

.sales-item1 {
  padding-bottom: 51px;
  background-color: #1B3075;
  color: #E4E4E4;
  background-image: url(../images/sales-img1.png);
}

@media screen and (max-width: 600px) {
  .sales-item1 {
    padding-bottom: 20px;
  }
}

.sales-item1 h4 {
  margin-bottom: 19px;
}

@media screen and (max-width: 1200px) {
  .sales-item1 {
    margin-bottom: 10px;
  }
}

.sales-item2 {
  padding-bottom: 21px;
  background-color: #FAAD31;
  color: #141922;
  background-image: url(../images/sales-img2.png);
}

@media screen and (max-width: 600px) {
  .sales-item2 {
    padding-bottom: 13px;
  }
}

.sales-item2 h4 {
  margin-bottom: 15px;
}

.sales-img {
  position: absolute;
  width: 554px;
  height: 165px;
  top: 10px;
}

.whom {
  padding-bottom: 57px;
}

@media screen and (max-width: 600px) {
  .whom {
    padding-bottom: 30px;
  }
}

.whom-title {
  margin-bottom: 37px;
}

@media screen and (max-width: 600px) {
  .whom-title {
    margin-bottom: 10px;
    font-size: 1.285rem;
  }
}

.whom-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(277px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(277px, 1fr));
  gap: 20px 20px;
}

@media screen and (max-width: 900px) {
  .whom-list {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .whom-list {
    -ms-grid-columns: (2fr)[2];
        grid-template-columns: repeat(2, 2fr);
    max-width: 300px;
    gap: 10px;
    margin: 0 auto;
  }
}

.whom-list-item {
  padding: 106px 0 28px;
  border: 1px solid #2B2E35;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center 40px;
}

@media screen and (max-width: 600px) {
  .whom-list-item {
    padding: 63px 0 23px;
    height: 123px;
    max-width: 145px;
    background-size: 32px 32px;
    background-position: center 20px;
  }
}

.whom-list-item-title {
  border-bottom: 2px solid #D20026;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 5px;
  font-size: 1.14rem;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .whom-list-item-title {
    font-size: 0.857rem;
    text-align: center;
    border-bottom: none;
    -webkit-text-decoration: 2px underline #D20026;
            text-decoration: 2px underline #D20026;
  }
}

.whom-img1 {
  background-image: url(../images/whom1.svg);
}

.whom-img2 {
  background-image: url(../images/whom2.svg);
}

.whom-img3 {
  background-image: url(../images/whom3.svg);
}

.whom-img4 {
  background-image: url(../images/whom4.svg);
}

.whom-img5 {
  background-image: url(../images/whom5.svg);
}

.whom-img6 {
  background-image: url(../images/whom6.svg);
}

.whom-img7 {
  background-image: url(../images/whom7.svg);
}

.whom-img8 {
  background-image: url(../images/whom8.svg);
}

.feedbacks {
  padding-bottom: 60px;
}

@media screen and (max-width: 600px) {
  .feedbacks {
    padding-bottom: 30px;
  }
}

.feedbacks-title {
  margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .feedbacks-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}

.feedbacks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 600px) {
  .feedbacks-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.feedbacks-list-item {
  max-width: 574px;
  margin-bottom: 40px;
  padding: 38px 21px 35px 20px;
  width: 48%;
  background-color: #23272F;
  border-radius: 3px;
}

@media screen and (max-width: 600px) {
  .feedbacks-list-item {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
}

.feedbacks-list-item-title {
  color: #FAFAFA;
  margin-bottom: 16px;
  font-weight: 500;
  border-left: 1px solid #D20026;
  padding-left: 15px;
}

@media screen and (max-width: 600px) {
  .feedbacks-list-item-title {
    font-size: 1.2rem;
    margin: 0 auto 9px;
    white-space: nowrap;
    width: 160px;
  }
}

.feedbacks-list-item-text {
  margin-bottom: 27px;
  color: #898989;
}

@media screen and (max-width: 600px) {
  .feedbacks-list-item-text {
    font-size: 1.08rem;
    margin-bottom: 18px;
  }
}

.feedbacks-list-item-text-author {
  color: #FAFAFA;
  text-align: end;
}

@media screen and (max-width: 600px) {
  .feedbacks-list-item-text-author {
    text-align: center;
  }
}

.feedbacks-button {
  width: 250px;
  height: 60px;
}

@media screen and (max-width: 600px) {
  .feedbacks-button {
    width: 204px;
    height: 40px;
  }
}

.news {
  padding-bottom: 80px;
}

@media screen and (max-width: 600px) {
  .news {
    padding-bottom: 30px;
  }
}

.news-title {
  margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .news-title {
    margin-bottom: 10px;
    font-size: 1.285rem;
  }
}

.news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  max-width: 972px;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 900px) {
  .news-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.news-item {
  margin-bottom: 40px;
  padding: 235px 20px 26px;
  max-width: 476px;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 3px;
  background-color: #23272f;
}

@media screen and (max-width: 600px) {
  .news-item {
    background-size: 300px 142px;
    max-width: 300px;
    padding: 164px 8px 35px;
    margin-bottom: 25px;
  }
}

.news-item-date {
  font-size: 1.14rem;
  color: #D20026;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .news-item-date {
    font-size: 0.928rem;
  }
}

.news-item-title {
  font-size: 1.357rem;
  font-weight: 500;
  color: #FAFAFA;
  margin-bottom: 7px;
}

@media screen and (max-width: 600px) {
  .news-item-title {
    font-size: 1.25rem;
  }
}

.news-img1 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url(../images/news-img1.png);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/news-img1.png);
}

.news-img2 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url(../images/news-img2.png);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/news-img2.png);
}

.news-button {
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .news-button {
    width: 100%;
  }
}

.news-button button {
  width: 250px;
  height: 60px;
}

@media screen and (max-width: 600px) {
  .news-button button {
    width: 204px;
    height: 40px;
  }
}

.footer {
  padding: 21px 0 27px;
  background-color: #0D1016;
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 30px 0 15px;
  }
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 25px;
  border-bottom: 1px solid #2B2E35;
  margin-bottom: 12px;
}

@media screen and (max-width: 600px) {
  .footer-top {
    margin-bottom: 21px;
  }
}

@media screen and (max-width: 900px) {
  .footer-top-item {
    width: 50%;
    margin-bottom: 22px;
  }
}

.footer-title {
  margin-bottom: 20px;
  color: #FAFAFA;
  font-size: 1.07rem;
  font-weight: 500;
}

.footer-title span {
  text-transform: uppercase;
  color: #D20026;
  font-weight: 700;
}

.footer-item-title {
  color: #43454A;
  font-weight: 600;
  font-size: 0.928rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-item-link {
  display: block;
  margin-bottom: 10px;
}

.footer-item-link:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .footer-bottom-item {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 23px;
  }
}

.footer-bottom-socialmedia:not(:last-child) {
  margin-right: 13px;
}
/*# sourceMappingURL=main.css.map */