$bgc-color: #141922;
$btn-color: #E03435;
$text-grey: #B9B9B9;
$text-white: #FAFAFA;

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-SemiBold.woff2') format('woff2'),
      url('./fonts/Montserrat-SemiBold.woff') format('woff'),
      url('./fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Bold.woff2') format('woff2'),
        url('./fonts/Montserrat-Bold.woff') format('woff'),
        url('./fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.woff2') format('woff2'),
        url('./fonts/Montserrat-Regular.woff') format('woff'),
        url('.fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face{
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Medium.woff2') format('woff2'),
      url('./fonts/Montserrat-Medium.woff') format('woff'),
      url('./fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html{
  font-size: 14px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

body{
  margin: 0 auto;
  background-color: $bgc-color;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration-line: underline;
  text-decoration-color: #D20026;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.container{
  max-width: 1320px;
  margin: 0 auto;
}

header{
  padding: 20px 0;
}
.header{
  &-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-list{
    display: flex;
  }
  &-nav-item{
    margin-right: 29px;
  }
  &-information{
    display: flex;
    justify-content: space-between;
  }
  &-information{
    ul{
      display: flex;
    }
  }
  .header-sing{
    margin-right: 25px;
    align-items: center;
  }
  &-btn{
    border: 1px solid $btn-color;
    border-radius: 3px;
    background-color: $bgc-color;
    color: $btn-color;
    font-weight: 500;
    font-size: 0.93rem;
    padding: 11px 37px;
    margin-right: 12px;
  }
}

.sign-up{
  color: $text-white;
  font-size: 0.93rem;
}

.header-languages{
  align-items: center;
}