@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-SemiBold.woff2") format("woff2"), url("./fonts/Montserrat-SemiBold.woff") format("woff"), url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-Bold.woff2") format("woff2"), url("./fonts/Montserrat-Bold.woff") format("woff"), url("./fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-Regular.woff2") format("woff2"), url("./fonts/Montserrat-Regular.woff") format("woff"), url(".fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-Medium.woff2") format("woff2"), url("./fonts/Montserrat-Medium.woff") format("woff"), url("./fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0 auto;
  background-color: #141922;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.btn {
  background-color: #E03435;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 500;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:hover {
  outline: 2px;
  border: 2px;
  border-color: #E03435;
  background: #141922;
  color: #E03435;
}

.header {
  padding: 20px 0;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav-item {
  position: relative;
  margin-right: 29px;
  cursor: pointer;
}

.header-nav-item:hover .header-nav-line {
  width: 60%;
}

.header-nav-line {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -6px;
  width: 0;
  height: 3px;
  background-color: #E03435;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-information-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-sing {
  margin-right: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-sing-btn {
  border: 1px solid #E03435;
  background-color: #141922;
  border-radius: 2px;
  color: #E03435;
  padding: 11px 37px;
  margin-right: 12px;
}

.header-sing-btn:hover {
  background-color: #FAFAFA;
}

.header-sing-up-btn {
  background-color: #141922;
  color: #FAFAFA;
}

.header-sing-up-btn:hover {
  color: #E03435;
}

.header-languages {
  width: 54px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-languages a:hover {
  color: #E03435;
}

.hero {
  padding: 0;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 605px;
}

.hero-information {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 50%;
}

.hero-information-title {
  margin-bottom: 27px;
}

.hero-information-header {
  text-transform: uppercase;
  font-size: 2.14rem;
  font-weight: 700;
  color: #FAFAFA;
}

.hero-information-text {
  font-size: 1.28rem;
  color: #B9B9B9;
  margin-bottom: 53px;
}

.hero-information-btn {
  padding: 26px 49px;
  margin-bottom: 66px;
  font-size: 1rem;
}

.hero-information-btn:hover {
  border: 2px;
  border-color: #E03435;
}

.hero-img {
  position: relative;
  background: url(../images/hero_img.png) center 191px no-repeat;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-img-cont {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-position: center;
}

.hero-img-text {
  text-align: center;
  font-size: 1.43rem;
}

.hero-img-cont1 {
  background: url(../images/hero_img_1.svg);
  width: 213px;
  height: 160px;
  top: 160px;
  left: 40px;
  padding-bottom: 20px;
}

.hero-img-cont1 p {
  max-width: 150px;
}

.hero-img-cont2 {
  background: url(../images/hero_img_2.svg);
  width: 234px;
  height: 165px;
  top: 0;
  right: 257px;
  padding-bottom: 12px;
}

.hero-img-cont3 {
  background: url(../images/hero_img_3.svg);
  width: 153px;
  height: 183px;
  right: 45px;
  top: 42px;
  padding-bottom: 20px;
}

.hero-img-cont4 {
  background: url(../images/hero_img_4.svg);
  width: 178px;
  height: 141px;
  right: 33px;
  top: 272px;
  padding-bottom: 35px;
}
/*# sourceMappingURL=main.css.map */