* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0 auto;
  background-color: $bgc-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  background-color: $btn-color;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
  font-weight: 500;
  border-radius: 3px;
  transition: all 0.5s;
}

.btn:hover {
  border: 2px solid #ee0033;
  background-color: $bgc-color;
  color: #E03435;
}