.feedbacks {
  padding-bottom: 60px;

  @media screen and (max-width: 600px) {
    padding-bottom: 30px;
  }

  &-title {
    margin-bottom: 40px;

    @media screen and (max-width: 600px) {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      margin: 0 auto;
      align-items: center;
    }

    &-item {
      max-width: 574px;
      margin-bottom: 40px;
      padding: 38px 21px 35px 20px;
      width: 48%;
      background-color: #23272F;
      border-radius: 3px;

      @media screen and (max-width: 600px) {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
      }

      &-title {
        color: $text-white;
        margin-bottom: 16px;
        font-weight: 500;
        border-left: 1px solid #D20026;
        padding-left: 15px;

        @media screen and (max-width: 600px) {
          font-size: 1.2rem;
          margin: 0 auto 9px;
          white-space: nowrap;
          width: 160px;
        }
      }

      &-text {
        margin-bottom: 27px;
        color: #898989;

        @media screen and (max-width: 600px) {
          font-size: 1.08rem;
          margin-bottom: 18px;
        }

        &-author {
          color: $text-white;
          text-align: end;

          @media screen and (max-width: 600px) {
            text-align: center;
          }
        }
      }
    }
  }

  &-button {
    width: 250px;
    height: 60px;

    @media screen and (max-width: 600px) {
      width: 204px;
      height: 40px;
    }
  }
}