.header {
  margin: 0 auto;
  padding: 21px 0 15px 0;

  @media screen and (max-width: 900px) {
    width: 90%;
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 900px) {
      flex-wrap: wrap;
    }
  }

  &-logo {
    @media screen and (max-width: 900px) {
      width: 30%;
      text-align: center;
      margin-bottom: 5px;
    }

    & img {
      @media screen and (max-width: 900px) {
        width: 70px;
      }
    }
  }

  &-nav {
    @media screen and (max-width: 900px) {
      width: 60%;
    }
  }

  &-list {
    display: flex;

    @media screen and (max-width: 900px) {
      justify-content: space-around;
    }
  }

  &-nav-item {
    position: relative;
    margin-right: 29px;
    cursor: pointer;

    &:hover .header-nav-line {
      width: 60%;
    }
  }

  &-nav-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
    width: 0;
    height: 3px;
    background-color: $btn-color;
    transition: all 1s;
  }

  &-information {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 900px) {
      margin: 0 auto;
    }

    &-list {
        display: flex;
        align-items: center;
    }
  }

  &-sing {
    margin-right: 25px;
    align-items: center;

    &-btn {
      border: 1px solid $btn-color;
      background-color: $bgc-color;
      border-radius: 2px;
      color: $btn-color;
      padding: 11px 37px;
      margin-right: 12px;

      @media screen and (max-width: 1200px) {
        padding: 8px 30px;
      }

      @media screen and (max-width: 900px) {
        padding: 6px 25px;
      }

      &:hover {
        background-color: $text-white;
      }
    }

    &-up-btn {
      background-color: $bgc-color;
      color: $text-white;
      text-transform: none;

      &:hover {
        color: $btn-color;
      }
    }
  }

  &-languages {
    width: 54px;
    justify-content: space-around;

    & a:hover {
      color: $btn-color;
    }
  }
}


