.hero {
  padding: 0;

  &-container {
    display: flex;
    height: 605px;
  }

  &-information {
    align-self: flex-end;

    &-title {
      margin-bottom: 27px;
    }

    &-header {
      text-transform: uppercase;
      font-size: 2.14rem;
      font-weight: 700;
      color: $text-white;
    }

    &-text {
      font-size: 1.28rem;
      color: $text-grey;
      margin-bottom: 53px;
    }

    &-btn {
      padding: 26px 49px;
      margin-bottom: 66px;
      font-size: 1rem;

      &:hover {
        border: 2px;
        border-color: $btn-color;
      }
    }
  }

  &-img {
    position: relative;
    background: url(../images/hero_img.png) center 191px no-repeat;
    width: 50%;
    display: flex;

    &-cont {
      position: absolute;
      align-items: center;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-position: center;
      }

    &-text {
      text-align: center;
      font-size: 1.43rem;
    }

    &-cont1 {
      background: url(../images/hero_img_1.svg);
      width: 213px;
      height: 160px;
      top: 160px;
      left: 40px;
      padding-bottom: 20px;

        & p {
          max-width: 150px;
        }
    }

    &-cont2 {
      background: url(../images/hero_img_2.svg);
      width: 234px;
      height: 165px;
      top: 0;
      right: 226px;
      padding-bottom: 12px;
    }

    &-cont3 {
      background: url(../images/hero_img_3.svg);
      width: 153px;
      height: 183px;
      right: 26px;
      top: 42px;
      padding-bottom: 20px;
    }

    &-cont4 {
      background: url(../images/hero_img_4.svg);
      width: 178px;
      height: 141px;
      right: 0;
      top: 267px;
      padding-bottom: 35px;
    }
  }
}