.hero {

  &-container {
    display: flex;
    min-height: 605px;
    max-width: 1126px;
  }

  &-information {
    align-self: flex-end;
    width: 50%;

    &-title {
      margin-bottom: 27px;
    }

    &-header {
      text-transform: uppercase;
      font-size: 2.14rem;
      font-weight: 700;
      color: $text-white;
    }

    &-text {
      font-size: 1.28rem;
      color: $text-grey;
      margin-bottom: 53px;
    }
  }

  &-btn {
    font-size: 1rem;
    max-width: 339px;
    height: 70px;
    width: 100%;
    margin-bottom: 66px;
  }

  &-video {
    max-width: 277px;
    min-height: 182px;
  }

  &-img {
    position: relative;
    background: url(../images/hero_img.png) center bottom no-repeat;
    background-size: 240px 408px;
    width: 50%;
    margin-bottom: 5px;

    &-cont {
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-position: center;
      }

    &-text {
      text-align: center;
      font-size: 1.43rem;
    }

    &-cont1 {
      background: url(../images/hero_img_1.svg);
      max-width: 213px;
      height: 160px;
      top: 23%;
      left: -3%;
      padding-bottom: 20px;

        & p {
          max-width: 150px;
        }
    }

    &-cont2 {
      background: url(../images/hero_img_2.svg);
      max-width: 234px;
      height: 165px;
      top: 0;
      right: 225px;
      padding-bottom: 12px;
    }

    &-cont3 {
      background: url(../images/hero_img_3.svg);
      max-width: 153px;
      height: 183px;
      right: 26px;
      top: 42px;
      padding-bottom: 20px;
    }

    &-cont4 {
      background: url(../images/hero_img_4.svg);
      max-width: 178px;
      height: 141px;
      right: 0;
      top: 45%;
      padding-bottom: 35px;
    }
  }
}