.news {
  padding-bottom: 80px;

  @media screen and (max-width: 600px) {
    padding-bottom: 30px;
  }

  &-title {
    margin-bottom: 40px;

    @media screen and (max-width: 600px) {
      margin-bottom: 10px;
      font-size: 1.285rem;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 972px;
    width: 100%;
    justify-content: space-around;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &-item {
    margin-bottom: 40px;
    padding: 235px 20px 26px;
    max-width: 476px;
    width: 100%;
    background-repeat: no-repeat;
    border-radius: 3px;
    background-color: #23272f;

    @media screen and (max-width: 600px) {
      background-size: 300px 142px;
      max-width: 300px;
      padding: 164px 8px 35px;
      margin-bottom: 25px;
    }

    &-date {
      font-size: 1.14rem;
      color: #D20026;
      margin-bottom: 10px;

      @media screen and (max-width: 600px) {
        font-size: 0.928rem;
      }
    }

    &-title {
      font-size: 1.357rem;
      font-weight: 500;
      color: $text-white;
      margin-bottom: 7px;

      @media screen and (max-width: 600px) {
        font-size: 1.25rem;
      }
    }
  }

  &-img1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../images/news-img1.png);
  }

  &-img2 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../images/news-img2.png);
  }

  &-button {
    width: 50%;
    text-align: center;

    @media screen and (max-width: 900px) {
      width: 100%;
    }

    & button {
      width: 250px;
      height: 60px;

      @media screen and (max-width: 600px) {
        width: 204px;
        height: 40px;
      }
    }
  }
}