.vebinar {
  padding: 72px 0 60px 0;
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    padding: 30px 0 30px 0;
  }

  &-title {
    margin-bottom: 45px;

    @media screen and (max-width: 600px) {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
  }

  &-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-title {
      max-width: 333px;
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 1.14rem;
      color: $text-white;
      
      @media screen and (max-width: 600px) {
        font-size: 1.25rem;
        width: 257px;
        margin: 0 auto 10px;
      }
    }

    &-title1 {
      
      @media screen and (max-width: 600px) {
        display: none;
      }

    }

    &-title2 {
      display: none;

      @media screen and (max-width: 600px) {
        display: block;
        margin: 0 auto 10px;
        width: 257px;
        font-weight: 600;
        font-size: 1.25rem;
        color: $text-white;
      }
    }

    &-item {
      position: relative;
      height: 245px;
      padding-left: 236px;
      background-repeat: no-repeat;
      background-position: left;
      margin-bottom: 46px;

      @media screen and (max-width: 1200px) {
        width: 560px;
        margin-bottom: 30px;
      }

      @media screen and (max-width: 900px) {
        height: 230px;
        margin-bottom: 25px;
      }

      @media screen and (max-width: 600px) {
        width: 302px;
        height: 335px;
        border-radius: 3px;
        padding: 50px 0 0px;
        text-align: center;
        margin-bottom: 12px;
        background-size: cover;
      }

      &-bgi1 {
        background-image: url(../images/vebinar-img1.png);

        @media screen and (max-width: 600px) {
          background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(../images/vebinar-img1.png);
        }
      }

      &-bgi2 {
        background-image: url(../images/vebinar-img2.png);

        @media screen and (max-width: 600px) {
          background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(../images/vebinar-img2.png);
        }
      }

      &-bgi3 {
        background-image: url(../images/vebinar-img3.png);

        @media screen and (max-width: 600px) {
          background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(../images/vebinar-img3.png);
        }
      }

      &-bgi4 {
        background-image: url(../images/vebinar-img4.png);

        @media screen and (max-width: 600px) {
          background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(../images/vebinar-img4.png);
        }
      }

      &-text {
        margin-bottom: 8px;
        color: $text-grey;

        @media screen and (max-width: 600px) {
          margin-bottom: 15px;
        }

        & span {
          font-weight: 600;
          border-bottom: $btn-color solid 2px;

          @media screen and (max-width: 600px) {
            font-size: 1.166rem;
          }
        }
      }
    }
  }

  &-description {
    width: 330px;
    color: $text-grey;
    font-size: 0.928rem;
    font-weight: 500;

    @media screen and (max-width: 600px) {
      width: 257px;
      font-size: 1.166rem;
      font-weight: 400;
      margin: 0 auto 17px;
    }
  }

  &-date {
    position: absolute;
    bottom: 0%;
    display: flex;
    flex-wrap: wrap;
    max-width: 220px;
    width: 100%;
    color: $text-white;
    font-weight: 500;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
      position: inherit;
      margin: 0 auto;
      justify-content: space-around;
    }

    &-day {
      margin-bottom: 16px;
      position: relative;
      padding-left: 26px;

      @media screen and (max-width: 600px) {
        font-size: 1.166rem;
        margin-bottom: 26px;
      }

      &::before {
        position: absolute;
        content: "";
        background-image: url(../images/vebinar-date.svg);
        width: 19px;
        height: 18px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-time {
      margin-bottom: 16px;
      position: relative;
      padding-left: 26px;

      @media screen and (max-width: 600px) {
        font-size: 1.166rem;
        margin-bottom: 26px;
      }

      &::before {
        position: absolute;
        content: "";
        background-image: url(../images/vebinar-time.svg);
        width: 18px;
        height: 19px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &-button {
    width: 220px;
    height: 60px;
    font-size: 1rem;

    @media screen and (max-width: 600px) {
      width: 167px;
      height: 40px;
    }
  }

  &-additional {
    text-align: center;
    text-decoration: underline;
    color: $btn-color;
    text-decoration-color: $btn-color;
  }
}